/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
  FONTS
   ========================================================================== */
@import url("../fonts/adelle.css");
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import url('../fonts/icons.css');


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
* {
  box-sizing: border-box;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
ul {
  padding:0;
  margin:0;
  list-style-type: none;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
    font-family: "Adelle Cyrillic", Arial, sans-serif;
    font-weight:600;
    background:#fff;
    font-size:16px;
    font-weight:300;
}



.aside {
    position: fixed;
    width: 4.8125rem;
    top: 0;
    left: 0px;
    bottom: 0px;
    z-index: 99;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    color: #2cbbb7;
}
.aside-item {
    position: relative;
    z-index: 9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 10;
}
#menu-toggle {
    position: absolute;
    z-index: 9;
    bottom:0.4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}
/* Overlay closing cross */

.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}
/* Menu style */

.overlay nav {
    text-align: center;
    padding-left: 4.8125rem;
    position: relative;
    top: 50%;
    height: 100%;
    font-size: 34px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay nav > ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 75%;
    text-align: left;
    position: relative;
    padding-top:3rem
}
.overlay ul li {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: block;
    height: 25%;
    height: calc(100% / 4.9);
    min-height: 54px;
    text-align: center;
}
.overlay ul li a {
    display: inline-block;
    color: #000;
    font-weight:600;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    font-size:8vh;
    position: relative;
    line-height: 1;
    width:auto;
}
.overlay ul li span{
  display: block;
  font-size:0.8vw;
  font-family: "Adelle Cyrillic", sans-serif;
  font-weight: 300;
  text-transform: none;
}
.overlay ul li a span.m-number{
  font-size:0.9rem;
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  position: absolute;
  right:-15px;
  top:-5px;
}
.overlay ul li span.cv-download a{
  font-size:1rem;
  font-weight:400;
  border-bottom:1px dotted #aaa;
  display: inline-block;
  margin:0 auto;
  text-transform: uppercase;
  font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-top:5px;
}

.overlay ul li.cv-li > a{
  font-size:2.5rem;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
   opacity: 0.4;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;

}
/* Effects */

.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    z-index: 80;
}
.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}
.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}
body.main .overlay nav, body.main .page-logo, body.main .social-network ul{
  padding-left: 0;
}


@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}
.page-logo {
 position: relative;
 text-align: center;
 padding-left:4.8125rem;
 padding-top:3vh;
}
.page-logo img {
  width:10.5vh;
  height:auto;
}
.page-logo .name {
  font-size:2.5vh;
    font-family: 'Oswald', sans-serif;
     padding-bottom:1vh;
     font-weight:500;
}
.page-logo .name span{
  font-weight:200;
  display: block;
  line-height: 1;
  font-size:2.2vh;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}


.gh-svg-wrapper {
  display: block;
  position: absolute;
  height: 69px;
  width: 69px;
  left:0;
  bottom: 0;
  right:0;
  margin:0 auto;
  transform: translateZ(0) rotate(0deg);
  transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.gh-svg-wrapper.active {
  transform: translateZ(0) rotate(90deg);
  transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.gh-svg {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateZ(0) rotate(0deg);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.gh-svg-wrapper.active .gh-svg {
  transform: translateZ(0) rotate(45deg);
  transition: 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.gh-svg-wrapper.active .gh-svg-bottom {
  transform: translateZ(0) rotate(-45deg);
}

.gh-svg-rect {
  left: 0;
  top: 0;
  transition: transform 0.2s 0.2s;
}

.gh-svg-wrapper.active .gh-svg-rect {
  transform: translate3d(0, 0, 0);  
  transition: transform 0.2s;
}

.gh-svg-rect-top {
  transform: translate3d(0, -8px, 0);
}

.gh-svg-rect-bottom {
  transform: translate3d(0, 8px, 0);
}

.social-network{

  text-align: center;
  position: absolute;
  bottom:0px;
  margin:0 auto;
  left:0;
  right:0;
}
.social-network ul {
  display: inline-block;
  width:auto;
  padding-left:4.8125rem;
  margin:0;
}
.social-network ul li {
  float:left;
  margin:0 15px 0 15px;
  min-height:30px;
}
.social-network ul li a:hover span:before{
 color:#000;
 opacity: 1;
}
.social-network ul li span:before{
  font-size:1.2rem;
}
.main-wrapper{
    margin-left:4.8125rem;
}
.content{
      max-width: 700px;
    margin:0 auto;
    padding-top:2.4125rem;
    padding-bottom:2.4125rem;
}

.content h2 {
    text-align:center;
    text-transform: uppercase;
        font-family: 'Oswald',sans-serif;
    font-weight:700;
    font-size:1.6vw;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2
}
.content p {
    margin:0 0 1rem 0;
    text-align: center;
    line-height: 1.5
}

blockquote {
    border: 0;
    padding: 2rem 0;
    font-size: 18px;
    font-family: 'Oswald',sans-serif;
    font-weight:700;
    font-size:1.6vw;
    text-align: center;
    border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;
    max-width: 400px;
    margin:2rem auto;
}
blockquote p{
    margin:0;
}


h1{
    font-family: 'Oswald',sans-serif;
    font-weight:700;
    font-size:2.7vw;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top:0;
}
h2{
  font-family: "Oswald", sans-serif;
  font-size:1.8vw;
  text-transform: uppercase;
  font-weight:600;
  margin-top:0;

}
h1 span{
    display: block;
    font-family: "Adelle Cyrillic", sans-serif;
    font-weight:300;
    font-size:1.2vw;
    margin-top:0.5rem;
    text-transform: none;

}
section.about-top{
    position: relative;
    padding-top:7vh;

}

.mouse-down {
  width:15px;
  height:30px;
  border:2px solid #222;
  border-radius:20px;
  position: absolute;
  margin:0 auto;
  opacity: 1;
  visibility: visible;
  left:0;
  right:0;
  bottom:20px;
  
}
.bullet {
  width:5px;
  height:5px;
  background:#222;
  margin: auto auto;
  border-radius:8px;
  position:relative;
  
  -webkit-animation: scrollDownUp 3s infinite; /* Chrome, Safari, Opera */
    animation: scrollDownUp 3s infinite;
}
.menu-indicator{
    position: absolute;
    left:0;
    right:0;
    widows: 100%;
    top:22%;
    z-index:11;
}
.menu-indicator ul.menu-numbers  {
    list-style-type: none;   
    width:100%;
    text-align: center;
    font-family: "Oswald",sans-serif;
    font-weight:500;
    padding: 0;
    margin:0;
    z-index:10;
    position: relative;
}
.menu-indicator ul.menu-numbers li {
  margin:0;
}
.menu-indicator ul.menu-numbers li span{
    display:block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-weight: 500;
    right:-100px;
    width:100px;
    text-align: left;
    line-height: 1.2;
    bottom:0px;
    padding:0;
    margin:0;
    color:#eee;
}
.menu-indicator ul.menu-numbers li a {
    padding:1rem 0 0 0 ;
    margin:0;
    color:#ccc;
    position: relative;
    text-decoration: none;

    font-weight:400;
    height:45px;
    display: block;
}
.menu-indicator ul.menu-numbers li.active a  {
    color:#000;
    cursor: pointer;
    
}
.menu-indicator ul.menu-numbers li:hover  span {
    opacity: 1;
    visibility: visible;
    font-size:3vw;
     -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes scrollDownUp {
    0% {top: 5px;}
    50% {top: 20px;}
    100% {top: 5px;}
} 

/* Standard syntax */ 
@keyframes scrollDownUp {
    0% {top: 5px;}
    50% {top: 20px;}
    100% {top: 5px;}
}
.scroll-text{
  position: absolute;
  width:100px;
  top:-30px;
  left:-42px;
  text-align: center;
  font-family: "Oswald",sans-serif;
  font-weight:500;
  text-transform: uppercase;
  font-size:14px;

}

/* WORK */ 
.work-content{
  max-width: 1040px;
  margin:0 auto;
}
.one-work {
  overflow: hidden;
  min-height:242px;
}
.one-work:nth-child(odd) {
  background-color: #fff
}
.one-work:nth-child(even){
  background-color: #eee;
}
.one-work .content-inner{
  max-width: 900px;
  margin:0 auto;
  position: relative;
  margin-top:6.25rem;
  margin-bottom:6.25rem;
  min-height: 242px;
  padding-left:450px;
  box-sizing: border-box;
}
.work-preview {
  position: absolute;
  left:0;
  top:0;
  width:420px;
  height:242px;
}
.one-work:nth-child(even) .work-preview {
  position: absolute;
  right:0;
  top:0;
  text-align:right;
  left:auto;
}
.one-work:nth-child(even) .content-inner{
  padding-right:450px;
  padding-left:0;
}
.single-laptop{
  background: url("../img/work/Laptop.png") no-repeat center center;
  background-size: contain;
  width:420px;
  height:242px;
  position: absolute;
}
.one-work:nth-child(even) .single-laptop{
  right:0;
}

.single-laptop .inner img, .single-mobile .mobile-inner img, .single-tablet .tablet-inner img, .single-ipad .ipad-inner  img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.single-laptop .inner {
    width: 302px;
    height: 190px;
    background: #000;
    position: absolute;
    left: 56px;
    top: 22px;
}

.single-mobile {
  background: url("../img/work/Phone.png") no-repeat center center;
  background-size: contain;
  width:100px;
  height:178px;
  position: absolute;
  left:-10px;
  bottom:-20px;
  z-index:1;
}
.single-mobile .mobile-inner {
     width: 71px;
    height: 127px;
    background: #000;
    position: absolute;
    left: 15px;
    top: 25px;
    z-index: 2;
}


.single-tablet {
  background: url("../img/work/tablet.png") no-repeat center center;
  background-size: contain;
  width:140px;
  height:208px;
  position: absolute;
  left:-10px;
  bottom:-20px;
  z-index:1;
}
.single-tablet .tablet-inner {
   width: 112px;
    height: 152px;
    background: #000;
    position: absolute;
    left: 15px;
    top: 27px;
    z-index: 2;
}

.single-ipad {
  background: url("../img/work/ipad.png") no-repeat center center;
  background-size: contain;
  width:400px;
  height:263px;
  position: absolute;
  left:0;
  bottom:0px;
  z-index:1;
}
.single-ipad .ipad-inner {
      width: 292px;
    height: 220px;
    background: #000;
    position: absolute;
    left: 54px;
    top: 21px;
    z-index: 101;
}


p{
  margin-top:0;
}

.work-info h3{
  color:#999;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
    font-weight:700;
    font-size:1.3rem;
    position: relative;
    margin-bottom:0.5rem;
    display: inline-block;
    margin-top:0;
}
.work-info h3 span{
  color:#999;
  position: absolute;
  top:-5px;
  font-size:0.8rem;
   font-family: "Oswald",sans-serif;
   font-weight:400;
  right:-15px;
}
.hideme, .fadein
{
    opacity:0;
}

.work-preview > img {
  max-width: 250px;
  height: auto;
  margin-top:20px;
}

.container-detail {
  max-width: 1040px;
  width: 100%;
  margin:0 auto;
}

a.back{
  font-size:1.5rem;
  text-decoration: none;
  margin-bottom:2rem;
  display: block;
  margin-top:2rem;
}
a.visit {
  font-size:1.5rem;
  text-decoration: none;
  display: block;
    margin-top:2rem;
}
a.back span , a.visit span{
  font-size:1rem;
}


.col-half{
  float:left;
  width: 50%;
  display: block;
  padding-left:5px;
  padding-right:5px;
  box-sizing: border-box;
}
.col-full {
  width:100%;
    padding-left:5px;
  padding-right:5px;
}
.row{
  margin-left:-5px;
  margin-right:-5px;
  overflow: hidden;
}
.row:after{
  clear: both;
  content:"";
}
.row:before{
  display: table;
  content:"";
}
.head-number{
  font-size:13vw;
  font-family: "Oswald",sans-serif;
  font-weight: 500;
  line-height: 1;
  color:#efefef;
}
.work-header{
  margin-bottom:20rem;
}
a{
  color:#000;
  text-decoration: none;
  font-family: "Oswald",sans-serif
}
a:hover{
  color:#999;
}
h4.title-small {
 font-size:16px;
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  color:#000;
  margin-top:20px;
  margin-bottom:0px;
}
.big-preview {
  background:#efefef;
  text-align: center;
  padding-top:4rem;
  padding-bottom:4rem;
  margin-bottom:10px;
  position: relative;
}
.big-preview .single-laptop, .small-preview, .big-preview .single-tablet, .big-preview .single-mobile, .big-preview .single-ipad{
  margin:0 auto;
  position: relative;
  zoom:130%;
}
.small-preview{
  margin-bottom:10px;
  background: #efefef;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.small-preview .single-laptop, .small-preview .single-mobile, .small-preview .single-tablet, .small-preview .single-ipad{
  position: relative;
  margin:0 auto;
  padding-top:2rem;
  padding-bottom:2rem;
}
.desc{
  padding:2.5rem 1rem;

}
img.crowd-logo{
max-width: 100px;
height:auto;
position: absolute;
top:50%;
left:0;
right:0;
margin:0 auto;
transform: translateY(-50%);
}
.work-logo {
  min-height: 300px;
  position: relative;
}
.image-holder{
  padding:0 2rem;
}
.image-holder img {
  max-width: 100%;
  height:auto;
}
.gallery{
  max-width: 740px;
  margin:0 auto;
  margin-bottom:2.5rem;
}
.gallery ul li {
  float:left;
  width:25%;
  padding:0 5px;
}
.gallery ul li span{
  background: #eee;
  display: block;
}
.gallery ul li img {
  max-width: 100%;
  height: auto;
}
footer{
  margin-top:2rem;
  position: relative;
}
footer a.back {
  position: fixed;
  right:1rem;
  display: none;
  bottom:2rem;
    -webkit-transform: rotate(90deg) translateY(-100%);
    transform: rotate(90deg) translateY(-100%);

}
footer p {
  margin:0;
  text-align: center;
  font-family: "Oswald",sans-serif;
  font-size:12px;
  padding:1rem 0;
}
@media(max-width: 1199px){
  h1 span {
    font-size: 3vw;
  }
  .gallery ul li{
    width:50%;
    margin-bottom:10px;

  }
  .col-half{
    width: 100%;
  }
  .col-half, .col-full{
    padding-left:1rem;
    padding-right:1rem;
  }
  .row{
   margin:0;
  }
  .aside {
    bottom: auto;
    left: auto;
    top: 0px;
    right: 0px;
    height: 4.8125rem;
    z-index: 99;
    width: 100%;
}
#menu-toggle {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: auto;
    height: 69px;
    width:77px;
}  

.menu-indicator {
  display: none;
}

.main-wrapper {
  margin-top:4.8124rem;
  margin-left:0;
}
.no-top{
  margin-top:0;
}
.work-header span.head-number, span.head-number{
  display: block;
  font-size:23vw;
  margin-bottom:10vh;
}
.mouse-down {
  bottom:7rem;
}
.mouse-down{
  bottom:2rem;
}
.page-logo{
  padding-left:0;
  padding-top:4.8124rem;
}
.overlay nav{
  padding-left:0;

}
h1{
  font-size:6vw;
}
h2 {
  font-size:5vw;
}
.content h2{
  font-size:5vw;
}
.content {
  padding:2rem;
}
blockquote{
  font-size:4vw;
}
.social-network ul{
  padding-left:0;
}
.overlay ul li span{
  font-size:3vw;
}
.overlay ul li a {
  font-size:16vw;
}
.overlay ul li a span.m-number{
  top:-3px;
}
.overlay ul li.cv-li > a{
  font-size:8vw;
}
.overlay nav > ul{padding-top: 0}
.overlay-hugeinc.open{
  padding-top:2rem;
}

.overlay ul li {
  height:calc(100%/4);
}
.overlay .page-logo{
display: none;
}
.overlay {
  margin-top:4.8125rem;
}
.social-network{
  bottom:12%;
}
.one-work{
  height:auto;
}

.one-work .content-inner{
  padding-left:0;
  padding:10px;
}
.one-work .work-preview {
  position: relative;
  margin-bottom:10px;
  zoom:65%;
  margin:0 auto;
  height:240px;
  text-align: center;
  margin-bottom:40px;
}
.one-work:nth-child(even) .work-preview {
  position: relative;
  margin-bottom:10px;
  zoom:66%;
  margin:0 auto;
  height:240px;
  text-align: center;
  margin-bottom:40px;
}
.one-work:nth-child(even) .content-inner {
   margin:2rem 0;
  padding:0 2rem;
}
.one-work .content-inner {
  margin:3rem 0;
  padding:0 3rem;
}
.big-preview .single-laptop, .big-preview .single-mobile, .big-preview .signle-tablet, .big-preview .single-ipad {
  zoom:64%;

}
.desc{
  padding-left:1rem;
  padding-right:1rem;
}
.work-bottom .col-half{
  text-align: right;
}
a.back{
  padding-left:0.5rem;
  margin-bottom:1rem;
}
.work-bottom .col-half{
  display: none;
}
.work-bottom .pagination{
  margin:0 auto;
  float:none;
  display: block;
  width:125px;
  text-align: center;
}
.work-bottom .pagination * {
  text-align: left;
}
.work-bottom .pagination .head-number{
  margin-left: -6px
}
}




/*
 * Hide visually and from screen readers
 */

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
