@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?ndkl5r');
  src:  url('icons/icomoon.eot?ndkl5r#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?ndkl5r') format('truetype'),
    url('icons/icomoon.woff?ndkl5r') format('woff'),
    url('icons/icomoon.svg?ndkl5r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble-icon:before {
  content: "\e900";
}
.icon-facebook-icon:before {
  content: "\e901";
}
.icon-gmail-icon:before {
  content: "\e902";
}
.icon-instagram-icon:before {
  content: "\e903";
}
.icon-linkidin-icon:before {
  content: "\e904";
}
.icon-twitter-icon:before {
  content: "\e905";
}
